@use "../../styles/colors" as *;
.cd-container {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 2em;

	.cd-item {
		.cd-heading {
			font-size: 2rem;
			margin-bottom: 0.5em;
			font-weight: 600;
		}
		.cd-doctor {
			margin-top: 1em;
			.cd-name {
				font-weight: 600;
				color: $main-green;
			}
		}
		.cd-text {
			font-size: 1.6rem;
			margin-bottom: 0.2em;
			.cd-span {
				font-weight: 600;
			}
		}
		.cd-fb-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.5em;
			margin: 0 auto;
			margin-top: 1em;
			padding: 0.5em 1em;
			border-radius: 4px;
			color: white;
			background-color: #486cb4;
			font-size: 1.6rem;
			.cd-fb-icon {
				font-size: 2rem;
			}
		}
	}
	.bg-blur-left-contact {
		top: 10%;
		left: 0;
	}
	.bg-blur-right-contact {
		right: 0;
		top: 70%;
	}
}
@media screen and (min-width: 400px) {
	.cd-container {
		margin-top: 4em;
		gap: 4em;
		.cd-item {
			.cd-heading {
				font-size: 2.4rem;
			}
			.cd-text {
				font-size: 2rem;
			}
			.cd-fb-btn {
				font-size: 1.8rem;
				.cd-fb-icon {
					font-size: 3rem;
				}
			}
			.cd-doctor {
				margin-top: 1.5em;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.cd-container {
		.cd-item {
			&:nth-child(1) {
				.cd-text {
					&:nth-child(4) {
						padding: 1em;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.cd-container {
		flex-direction: row;
		justify-content: space-between;
		text-align: left;
		gap: 0;
		padding: 1em;
		.cd-item {
			.cd-heading {
				font-size: 2.4rem;
			}
			.cd-text {
				font-size: 2rem;
			}
			.cd-fb-btn {
				margin: 2em 0 0 0;
			}

			.cd-doctor {
				margin-top: 1.5em;
			}
			&:first-child {
				width: 30%;

				.cd-text {
					&:nth-child(4) {
						margin-top: 1em;
					}
				}
			}
			&:nth-child(1) {
				.cd-text {
					&:nth-child(4) {
						padding: 0;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1100px) {
	.cd-container {
		.cd-item {
			.cd-heading {
				font-size: 2.8rem;
			}
			.cd-name {
				font-size: 2.2rem;
			}
			.cd-fb-btn {
				cursor: pointer;
				transition: all 0.3s ease;
				&:hover {
					background-color: $main-dark-blue;
				}
			}
		}
		.bg-blur-left-contact {
			top: 110%;
		}
		.bg-blur-right-contact {
			top: 90%;
		}
	}
}

@media screen and (min-width: 1200px) {
	.cd-container {
		margin-top: 8em;
		.cd-item {
			.cd-heading {
				font-size: 3rem;
			}
			.cd-text {
				font-size: 2.4rem;
			}
			.cd-fb-btn {
				font-size: 2.4rem;
				.cd-fb-icon {
					font-size: 3.4rem;
				}
			}
		}
	}
}
@media screen and (min-width: 1400px) {
	.cd-container {
		.cd-item {
			.cd-heading {
				font-size: 3.4rem;
			}
			.cd-name {
				font-size: 2.6rem;
			}
		}
	}
}

@media screen and (min-width: 1500px) {
	.cd-container {
		padding: 0;
		.bg-blur-left-contact {
			left: -15%;
		}
		.bg-blur-right-contact {
			top: 90%;
			right: -15%;
		}
	}
}
