@use "../../styles/colors" as *;

.la-container {
	position: relative;
	margin-top: 4em;
	.la-heading-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.la-items-container {
		display: flex;
		flex-wrap: wrap;
		gap: 2em;
		margin-top: 4em;
		padding: 0.5em;
	}
	.bg-blur-right-la {
		right: 0;
	}
}

@media screen and (min-width: 400px) {
	.la-container {
		margin-top: 6em;
	}
}

@media screen and (min-width: 768px) {
	.la-container {
		.la-items-container {
			justify-content: center;
		}
	}
}

@media screen and (min-width: 1024px) {
	.la-container {
		margin-top: 8em;
	}
}

@media screen and (min-width: 1200px) {
	.la-container {
		margin-top: 14em;
		.la-items-container {
			margin-top: 6em;
			justify-content: space-between;
			gap: 2em;
			padding: 1em;
		}
		.bg-blur-right-la {
			top: 60%;
		}
	}
}

@media screen and (min-width: 1600px) {
	.la-container {
		margin-top: 16em;
		.bg-blur-right-la {
			right: -15%;
		}
		.la-items-container {
			padding: 0;
		}
	}
}
@media screen and (min-width: 2000px) {
	.la-container {
		.bg-blur-right-la {
			right: -30%;
		}
	}
}
