@use "../../styles/colors" as *;

.images-gallery-container {
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(8, 1fr);
	gap: 1em;
	padding: 1em;
	margin-top: 4em;
	.images-gallery-box {
		.images-gallery-item {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
.image-popup-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba($main-dark-blue, 0.7);
	z-index: 1000;

	.popup-image {
		animation: zoom-in 0.3s forwards;
		border-radius: 4px;
		object-fit: contain;
	}
	.popup-icon {
		position: absolute;
		top: 5%;
		right: 5%;
		font-size: 4rem;
		cursor: pointer;
		transition: all 0.3s ease;
		color: $main-orange;

		&:hover {
			color: $main-green;
		}
	}
}
.open-popup {
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes zoom-in {
	from {
		opacity: 0;
		width: 5%;
	}
	to {
		opacity: 1;
		width: 60%;
		max-height: 90vh;
	}
}

@media screen and (min-width: 768px) {
	.images-gallery-container {
		grid-template-columns: repeat(8, 1fr);
		gap: 1.5em;

		.images-gallery-box {
			&:nth-child(1) {
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 1;
				grid-row-end: 3;
			}
			&:nth-child(2) {
				grid-column-start: 3;
				grid-column-end: 5;
				grid-row-start: 1;
				grid-row-end: 4;
			}
			&:nth-child(3) {
				grid-column-start: 5;
				grid-column-end: 7;
				grid-row-start: 1;
				grid-row-end: 3;
			}
			&:nth-child(4) {
				grid-column-start: 7;
				grid-column-end: 9;
				grid-row-start: 1;
				grid-row-end: 3;
			}
			&:nth-child(5) {
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 3;
				grid-row-end: 6;
			}
			&:nth-child(6) {
				grid-column-start: 3;
				grid-column-end: 5;
				grid-row-start: 4;
				grid-row-end: 6;
			}
			&:nth-child(7) {
				grid-column-start: 5;
				grid-column-end: 7;
				grid-row-start: 3;
				grid-row-end: 5;
			}
			&:nth-child(8) {
				grid-column-start: 7;
				grid-column-end: 9;
				grid-row-start: 4;
				grid-row-end: 6;
			}
			&:nth-child(9) {
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 6;
				grid-row-end: 8;
			}
			&:nth-child(10) {
				grid-column-start: 3;
				grid-column-end: 5;
				grid-row-start: 6;
				grid-row-end: 9;
			}
			&:nth-child(11) {
				grid-column-start: 7;
				grid-column-end: 9;
			}
			&:nth-child(12) {
				grid-column-start: 5;
				grid-column-end: 7;
				grid-row-start: 5;
				grid-row-end: 7;
			}
			&:nth-child(13) {
				grid-column-start: 5;
				grid-column-end: 9;
				grid-row-start: 7;
				grid-row-end: 9;
			}
			&:nth-child(14) {
				grid-column-start: 7;
				grid-column-end: 9;
				grid-row-start: 6;
				grid-row-end: 7;
			}
			&:nth-child(15) {
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 8;
				grid-row-end: 9;
			}
		}
	}
}

@media screen and (min-width: 1100px) {
	.images-gallery-container {
		height: 1800px;
		.images-gallery-box {
			cursor: pointer;
			transition: all 0.3s ease;

			&:hover {
				scale: 1.01;
				box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
					rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
			}
		}
	}
}
@media screen and (min-width: 1200px) {
	.images-gallery-container {
		margin-top: 6em;
		height: 2000px;
	}
}
@media screen and (min-width: 1300px) {
	.images-gallery-container {
		height: 2200px;
	}
}
@media screen and (min-width: 1400px) {
	.images-gallery-container {
		padding: 0;
	}
}
